.gridroot {    
    -fx-vgap: 30px;
}

#helproot {
	-fx-background-color: white;
}

.vbox {
	-fx-alignment: center;
	-fx-spacing: 13px;
}

.controlcontainer {
	-fx-alignment: center-left;
}

.hbox {
	-fx-alignment: bottom-left;
}

.title {
	-fx-fill: black;
	-fx-font-family: "Arcade Normal";
	-fx-font-size: 17pt;
	-fx-font-weight: bold;
	-fx-font-smoothing-type: lcd;
}

.paragraph {	
	-fx-fill: black;
	-fx-font-family: "Arcade Normal";
	-fx-font-size: 8pt;
	-fx-font-smoothing-type: lcd;
}

.control {
	-fx-fill: black;
	-fx-font-family: "Arcade Normal";
	-fx-font-size: 8pt;
}

.controltitle {
	-fx-fill: black;
	-fx-font-family: "Arcade Normal";
	-fx-font-size: 12pt;
}