#parentcontainer {
	-fx-background-color: black;
}

.gridroot {	
	-fx-alignment: center;    
    -fx-vgap: 50px;
}

#homeroot {
	-fx-background-image: url("../../resources/homebg.jpg");
    -fx-background-repeat: stretch;
    -fx-background-position: center center;
    -fx-background-size: 600 450;
}

.vbox {
	-fx-alignment: center;
}

.buttons-container {
	-fx-spacing: 25px;
}

.greetings {
	-fx-fill: white;
	-fx-font-family: "Noto Mono";
	-fx-font-size: 25pt;
	-fx-font-smoothing-type: lcd;
}

.title {
	-fx-fill: black;
	-fx-font-family: "Noto Mono";
	-fx-font-size: 40pt;
	-fx-font-weight: bold;
	-fx-font-smoothing-type: lcd;
}

.credits {
	-fx-fill: black;
	-fx-text-alignment: center;
	-fx-font-family: monospace;
	-fx-font-size: 10pt;
	-fx-font-weight: bold;
	-fx-font-smoothing-type: lcd;
}

.button {
	-fx-background-color: #C3C4C4, linear-gradient(#D6D6D6 50%, white 100%), radial-gradient(center 50% -40%, radius 200%, #e6e6e6 45%, rgba(230, 230, 230, 0) 50%);
    -fx-background-insets: 0, 1, 1;
    -fx-text-fill: black;
    -fx-font-size: 16pt;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 3, 0.0, 0, 1);
}

.button:hover, .button:focused {
    -fx-font-size: 20pt;
}