#pauseRoot {
	-fx-alignment: center;
	-fx-background-color: rgba(0, 0, 0, 0.75);
}

.rootcontainer {
	-fx-alignment: center;
	-fx-spacing: 50px;
}

.hbox {
	-fx-alignment: center;
}

.pausetitle {
	-fx-font-family: "Arcade Normal";
	-fx-font-size: 25pt;
	-fx-fill: white;
}

.buttoncontainer {
	-fx-alignment: center;
	-fx-spacing: 25px;
}

#resume, #restart, #quit {
	-fx-background-color: black;
	-fx-border-color: black;
	-fx-border-width: 3px;
    -fx-font-family: 'Arcade Normal';
    -fx-text-fill: white;
    -fx-font-size: 16pt;
    -fx-font-weight: bold;
}

#resume:hover, #resume:focused, #restart:hover, #restart:focused, #quit:hover, #quit:focused {
	-fx-text-fill: lime;
	-fx-border-color: lime;
}